services:
  app:
    build: .
    container_name: fivet_api
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - .:/app

    command: ["sh", "-c", "npx prisma generate && npm run dev"]

volumes:
  pgdata:
